<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white">
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text logo-mini">
                Escolas
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/sistema/dashboard">
                        <i class="material-icons">dashboard</i>
                        <p>Início</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/sistema/escolas">
                        <i class="material-icons">list</i>
                        <p>Escolas</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/sistema/turmas">
                        <i class="material-icons">account_circle</i>
                        <p>Turmas</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                    aria-expanded="false" aria-label="">
                    <span class="sr-only"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>
            </div>
        </nav>
        <router-outlet></router-outlet>
    </div>
</div>