<div class="content" style="padding-top: 40px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header" style="position: relative;">
                        <h4 class="card-title">Cadastrar escola</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <form [formGroup]="cadastrarForm" (submit)="salvar(cadastrarForm.value)">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nome</label>
                                        <input formControlName="nome" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row col-lg-12">
                                    <div class="col-8">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Rua</label>
                                            <input formControlName="rua" type="email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Numero</label>
                                            <input formControlName="numero" type="email" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Cidade</label>
                                        <input formControlName="cidade" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Estado</label>
                                        <select formControlName="estado" type="text" class="form-control">
                                            <option *ngFor="let e of estados" [value]="e.nome">{{e.sigla}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button [disabled]="cadastrarForm.invalid" type="submit" class="btn btn-warning pull-right">Salvar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>