<div class="content" style="padding-top: 40px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header" style="position: relative;">
                        <h4 class="card-title">Cadastrar turma</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <form [formGroup]="cadastrarForm" (submit)="salvar(cadastrarForm.value)">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nome</label>
                                        <input formControlName="nome" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Escolas</label>
                                        <select formControlName="escolaId" type="text" class="form-control">
                                            <option *ngFor="let e of escolas" [value]="e.id">{{e.nome}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Quantia de alunos</label>
                                        <input formControlName="quantiaAlunos" type="number" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <button [disabled]="cadastrarForm.invalid" type="submit"
                                class="btn btn-warning pull-right">Salvar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>