<div class="content" style="padding-top: 40px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-body">
                        <h4 class="card-title">
                            Escolas

                            <span class="text-success f-right">
                                <i class="fa fa-long-arrow-up"></i>
                                {{escolasNumeros}}
                            </span>
                        </h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">info_outline</i> Numero estimado
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-body">
                        <h4 class="card-title">
                            Turmas

                            <span class="text-success f-right">
                                <i class="fa fa-long-arrow-up"></i>
                                {{turmasNumeros}}
                            </span>
                        </h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">info_outline</i> Numero estimado
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Ultimas escolas</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Endereço</th>
                                <th>Estado</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let escola of escolas; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{escola.nome}}</td>
                                    <td>{{escola.rua + ', N°:' + escola.numero}}</td>
                                    <td>{{escola.estado}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>