/* You can add global styles to this file, and also import other style files */

.sidebar::before, .off-canvas-sidebar nav .navbar-collapse::before {
    background-color: #fff;
}

.form-control, .is-focused .form-control {
    background-image: linear-gradient(to top, #ffbc00 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}