<div class="content" style="padding-top: 40px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header" style="position: relative;">
                        <h4 class="card-title">Escolas</h4>
                        <p class="card-category">Todas as escolas</p>
                        <button routerLink="/sistema/cadastro-escola" class="btn btn-fab btn-warning" style="position: absolute; top: 5px; right: 10px;">
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Endereço</th>
                                <th>Estado</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let escola of escolas; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{escola.nome}}</td>
                                    <td>{{escola.rua + ', N°:' + escola.numero}}</td>
                                    <td>{{escola.estado}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <p style="display: table; margin: auto;" *ngIf="escolas.length < 1">Nenhum resultado encontrado</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>